html,
body
{
  font-family:'Roboto', 'sans-serif';

}

html
{
  height:100%;

}

body
{
  position:relative;
  min-height:100%

}

h1.h1home
{
padding-bottom:1rem;
margin-bottom:0;
margin-top:100px;

}
h1.h1pathway
{
padding-bottom:1rem;
margin-bottom:0;


}

h1.h1modules
{
padding-bottom:1rem;
margin-bottom:0;
margin-top:100px;


}

h1 span
{
  font-size:1.2rem;

}

main
{
  padding-top:7rem;
  padding-bottom:50px;
}
img.qa
{
  height:180px;
  width:180px;
  display:block;
  margin:0;
}
img.roehampton
{
  height:100px;
  width:200px;
  margin-bottom:20px;

}
.info{
  border:3px;
  border-style:solid;
  border-color:	#049fd9;
  padding:0.8em;
  border-radius:25px;
}
  )
p.lead
{
  padding-bottom:20px;
}
 .note
 {
   color: red;
   font-style:italic;
   font-weight:bold;
 }
